.intro-section {
    padding: 2rem;
  }
  .intro-section h2 {
    margin-bottom: 1rem;
    font-size: 2rem;
    color: #000;
  }
  .intro-section p {
    line-height: 1.6;
    color: #333;
  }
.explore-projects-button {
  margin-top: 2rem;;
  font-family: 'Avenir Next', sans-serif;
  background: linear-gradient(45deg, #ffe177, #cd9848);
  border: none;
  padding: 0.75rem 2rem;      /* same padding as desktop */
  font-size: 1rem;            /* same size as desktop */
  cursor: pointer;
  color: #000;
  transition: transform 0.2s ease;
    }

    .explore-projects-button:hover {
            background-color: #ffd54f;
            transform: scale(1.05);
    }
  